ion-content{
 background:  linear-gradient(to right, #2193b0, #6dd5ed)
}
img{
  width: auto;
  margin: auto;
  display: block;
}
ion-card-title{
  color: #ffffff;
  font-family:roxboroughCF
}
p{
color: #ffffff;
}
ion-card{
  background:linear-gradient(to right, #2193b0, #6dd5ed)
}